@model Tachey001.ViewModel.Course.MainGroup

@section topCSS{
    @Styles.Render("~/Assets/css/discussions.css")
}

@{
    ViewBag.Title = "Tachey";
    Layout = "~/Views/Shared/_LayoutCreate.cshtml";
}


<h1>Hahow 線上課程</h1>
<!-- 課程影片區 -->
<section class="hero_wrap">
    <div class="container">
        <!-- Breadcrumb 區塊 -->
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb bg-transparent">
                <li class="breadcrumb-item text-white"><a href="@Url.Action("All","Courses")">所有課程</a></li>
                <li class="breadcrumb-item text-white"><a href="@Url.Action("Group","Courses")">@Model.Main_Video.CategoryName</a></li>
                <li class="breadcrumb-item  text-white active" aria-current="page">@Model.Main_Video.DetailName</li>
            </ol>
        </nav>
        <!-- title 區塊 -->
        <h2 class="title text-center">@Model.Main_Video.CourseTitle</h2>

        <!-- 主要內容 -->
        <div class="main_wrap col-12">
            <!-- 影片區 -->
            <div class="video_wrap col-12 col-sm-12 col-lg-8">
                <!-- <video width="100%" height="100%" crossorigin="" poster="/Hahow/img/test1.png" controls>
                    <source type="video/mp4" src="/Hahow/sources/test.mp4" label="480p" size="480">
                </video> -->
                <iframe name="VideoIframe" width="100%" height="100%" src="@ViewBag.TryVedio"
                        title="video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <!-- 選單區 -->
            <div class="menu_wrap col-12 col-sm-12 col-lg-4">
                <div class="title col-12">
                    <div class="col-10 p-0">
                        <p>@Model.Main_Video.courseChapters.Count() 個章節，@Model.Main_Video.courseUnits.Count() 段單元、6 項作業，共 2230 分鐘</p>
                        <div>
                            <span>當前單元</span>
                            <a href="@ViewBag.TryVedio" target="VideoIframe">
                                <span>試看</span>
                            </a>
                        </div>
                    </div>
                    <div class="close_button col-2">
                        <span>
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>

                <div class="class_content">
                    <div class="wrap col-12">
                        <a href="@ViewBag.TryVedio" target="VideoIframe">
                            <div class="list active">
                                <div class="icon">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                </div>
                                <div class="title">課程介紹</div>
                                <div class="time">02:28</div>
                            </div>
                        </a>
                    </div>

                    <!-- 課程章節 -->
                    <div class="accordion" id="accordion">
                        @{foreach (var ch in Model.Main_Video.courseChapters)
                            {
                                <div class="wrap">
                                    <button class="btn_control btn btn-link btn-block text-left" type="button"
                                            data-toggle="collapse" data-target="#toggle_@ch.ChapterID" aria-expanded="true"
                                            aria-controls="toggle_@ch.ChapterID">
                                        <div class="lists">
                                            <div class="icon">
                                                <i class="fa fa-th-list" aria-hidden="true"></i>
                                            </div>
                                            <div class="text">第@(ch.ChapterID)章 </div>
                                            <div class="arrow">
                                                <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <!-- 課程單元 -->
                                <div id="toggle_@ch.ChapterID" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    @foreach (var un in Model.Main_Video.courseUnits)
                                    {
                                        if (ch.ChapterID == un.ChapterID)
                                        {
                                            <div class="content">
                                                <a href="@un.CourseURL" target="VideoIframe">
                                                    <div class="list">
                                                        <div class="icon">
                                                            <i class="fa fa-lock" aria-hidden="true"></i>
                                                        </div>
                                                        <div class="text">單元@(un.UnitID) @un.UnitName</div>
                                                        <div class="time">00:06</div>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="list-toggle btn btn-dark"> > 單元一覽</div>
    </div>
</section>

<!-- detail -->
<section class="detail_wrap">
    <div class="container-lg d-flex justify-content-center flex-wrap px-0">
        <div class="sign_wrap col-12 col-md-5 col-lg-5">
            <div class="inline-block">
                <div class="item">
                    <img src="https://hahow.in/static/media/peoples.ae17c771.svg" alt="">
                    <p>297 位同學</p>
                </div>
                <div class="item">
                    <img src="https://hahow.in/static/media/comment.9a42ee31.svg" alt="">
                    <p>問題討論</p>
                </div>
            </div>
            <div class="inline-block">
                <div class="item">
                    <img src="https://hahow.in/static/media/clock.34f482fc.svg" alt="">
                    <p>2,230 分鐘</p>
                </div>
                <div class="item">
                    <img src="https://hahow.in/static/media/homework.94b2405f.svg" alt="">
                    <p>作業批改</p>
                </div>
            </div>
        </div>

        <div class="price_wrap col-12 col-md-3 col-lg-3">
            <p>課程售價</p>
            <h2>NT$4,200</h2>
        </div>

        <div class="buy_wrap col-12 col-md-4 col-lg-4">
            <div class="collect">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
                <span>收藏</span>
            </div>
            <div class="btn_wrap">
                <button class="btn btn-success">馬上購買</button>
                <button class="btn btn-outline-success"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</section>

<!--選單-->
<!-- seletor -->
<div class="container">
    <div class="seletor mb-5">
        <div class="seletor-item" id="main">
            <a class="inline-block text-center" href="@Url.Action("Main", "Courses", new { id = 1, CourseId = Model.Main_Video.CourseID})">課程簡介</a>
        </div>
        <div class="seletor-item" id="feedbacks">
            <a class="inline-block text-center" href="@Url.Action("Main", "Courses", new { id = 2, CourseId = Model.Main_Video.CourseID})">課程評價</a>
        </div>
        <div class="seletor-item" id="discussions">
            <a class="inline-block text-center" href="@Url.Action("Main", "Courses", new { id = 3, CourseId = Model.Main_Video.CourseID})">問題討論</a>
        </div>
        <div class="seletor-item" id="assignments">
            <a class="inline-block text-center" href="@Url.Action("Main", "Courses", new { id = 4, CourseId = Model.Main_Video.CourseID})">作業成果</a>
        </div>
    </div>
</div>

@if (ViewBag.Id == 1)
{
    @Styles.Render("~/Assets/css/intro.css")
    <!--課程介紹-->
    <!-- content -->
    <div>
        <div class="container position-relative">
            <div class="row book-mark-box">
                <div class="col-12 my-4 book-mark px-5">
                    <div class="text-center">
                        <button type="button"
                                class="btn btn-outline-hahow w-100 my-4 py-3 px-5">
                            <div class="text-scale-12">
                                <i class="fas fa-bookmark mr-1"></i>
                                加入書籤
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 my-4 p-0">
                    <h3 class="hahow-green mb-5">關於課程 //</h3>
                    <div class="d-flex justify-content-between mb-4">
                        <div class="d-flex w-50">
                            <div class="mr-3">
                                <img src="https://hahow.in/static/media/icon-time.71567444.svg"
                                     alt="" />
                            </div>
                            <div class="d-flex flex-column ">
                                <span>課程時長</span>
                                <span>4 小時 46 分鐘</span>
                            </div>
                        </div>
                        <div class="d-flex w-50">
                            <div class="mr-3">
                                <img src="https://hahow.in/static/media/icon-chapter.f2250f6f.svg"
                                     alt="" />
                            </div>
                            <div class="d-flex flex-column ">
                                <span>單元數</span>
                                <span>9 章節 22 單元</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex w-50">
                            <div class="mr-3">
                                <img src="https://hahow.in/static/media/icon-classmate.bc904925.svg"
                                     alt="" />
                            </div>
                            <div class="d-flex flex-column ">
                                <span>課程總人數</span>
                                <span>14 位同學</span>
                            </div>
                        </div>
                        <div class="d-flex w-50">
                            <div class="mr-3">
                                <img src="https://hahow.in/static/media/icon-homework.f69f73e0.svg"
                                     alt="" />
                            </div>
                            <div class="d-flex flex-column text-secondary">
                                <span>作業數</span>
                                <span>1 份作業</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex  my-5">
                        <div class="light-height-45">
                            <img src="https://hahow.in/static/media/icon-dialog.18040558.svg"
                                 alt=""
                                 class="mr-3" />
                        </div>
                        <div class="
                d-inline-block
                bg-light-gray
                light-height-45
                h-30
                px-3
                rounded
                position-relative
              ">
                            <div class="date-content"></div>
                            沒有期限、不限觀看次數，完成課程還有完課證明！
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-3 p-0">
                    <div class="border-bottom-short"></div>
                </div>

                <div class="col-12 my-5 p-0">
                    <h3 class="hahow-green mb-5">你可以學到 //</h3>
                    <div class="m-0 ">
                        <h6>1. 知道感覺統合包含哪七個感覺，以及它的理論元素</h6>
                        <h6>
                            2.
                            知道感覺統合對孩子的發展影響，以及注意孩子的表現對應的感覺統合問題
                        </h6>
                        <h6>3. 掌握適當的感覺統合遊戲操作方式，給孩子最恰到好處的刺激</h6>
                        <h6>
                            4.
                            透過適量感覺統合刺激，幫助孩子發展專注力、學習力、情緒、動作、自理、人際關係
                        </h6>
                    </div>
                </div>

                <div class="col-8 my-5 p-0">
                    <h3 class="hahow-green">課程詳情 //</h3>
                    <div class="border-bottom">
                        <img class="w-100 my-5"
                             src="https://hahow-production.imgix.net/60a72142ef911635f877298f?w=1000&auto=format&sat=0&s=7c19db8e058e137a802609933ede799a"
                             alt="" />
                        <h4 class="text-secondary">
                            常覺得孩子難搞？我們可以從「感覺統合」來改善
                        </h4>
                    </div>
                    <div class="my-4 ">
                        <h6>您是否記得這世界曾經如此陌生？</h6>
                        <p class="text-justify">
                            還記得超級英雄剛得到超能力的樣子嗎？總是不懂得控制自己——跑得太快，跳得太高，把東西拉壞。看得太清楚、聽得太敏銳，覺得這個世界好亮好吵，感到害怕，想把感覺關掉卻做不到，直到訓練好一陣子才漸漸適應自己的超能力。
                            其實，0 到 2
                            歲的孩子剛來到這個世界上，也像忽然得到超能力一樣，一邊急速成長發育，一邊認識這個世界；對於色彩、氣味、聲音，都感到陌生，對於溫度、觸感都覺得不熟悉，甚至覺得太過刺激。所以有些孩子，容易分心、反應慢，莫名其妙的逃避或哭鬧，踩在草地或沙地上就不舒服、穿上某些衣服就扭來扭去、新衣服一定要把標籤剪掉，總是跌跌撞撞、動作魯莽、極度討厭肢體碰觸。這些，都可能是感覺統合失調所造成的。
                        </p>
                    </div>
                </div>

                <div class="col-8 my-5 p-0">
                    <h3 class="hahow-green mb-5">上課前的準備 //</h3>
                    <div class="my-4">
                        <h6>
                            <i class="fas fa-chevron-circle-right"></i>
                            需要具備的背景知識
                        </h6>
                        <p class="text-black-50">
                            課程內容深入淺出，是專屬為「孕期媽咪」以及「0-2
                            歲寶寶的照顧者」所設計的課程。如：父母、阿公阿嬤、保母、托嬰、幼教人員等相關行業，都很適合這堂課程。
                        </p>
                    </div>
                    <div class="my-4">
                        <h6>
                            <i class="fas fa-chevron-circle-right"></i>
                            需要具備的背景知識
                        </h6>
                        <p class="text-black-50">
                            課程內容深入淺出，是專屬為「孕期媽咪」以及「0-2
                            歲寶寶的照顧者」所設計的課程。如：父母、阿公阿嬤、保母、托嬰、幼教人員等相關行業，都很適合這堂課程。
                        </p>
                    </div>
                    <div class="my-4">
                        <h6>
                            <i class="fas fa-chevron-circle-right"></i>
                            需要具備的背景知識
                        </h6>
                        <p class="text-black-50">
                            課程內容深入淺出，是專屬為「孕期媽咪」以及「0-2
                            歲寶寶的照顧者」所設計的課程。如：父母、阿公阿嬤、保母、托嬰、幼教人員等相關行業，都很適合這堂課程。
                        </p>
                    </div>
                    <div class="my-4">
                        <h6>
                            <i class="fas fa-chevron-circle-right"></i>
                            需要具備的背景知識
                        </h6>
                        <p class="text-black-50">
                            課程內容深入淺出，是專屬為「孕期媽咪」以及「0-2
                            歲寶寶的照顧者」所設計的課程。如：父母、阿公阿嬤、保母、托嬰、幼教人員等相關行業，都很適合這堂課程。
                        </p>
                    </div>
                </div>

                <div class="col-8 my-5 p-0">
                    <h3 class="hahow-green">關於老師 KidPro醫學級兒童發展教育團隊 //</h3>
                    <div class="card my-5 border-0">
                        <div class="row no-gutters">
                            <div class="col-1 pt-3">
                                <div class="photo-img position-relative">
                                    <img src="https://hahow-production.imgix.net/6041acdafc20d2d7aa40c3d9?w=100&auto=format&sat=0&s=dfe6043f51505253326d695702bd25ee"
                                         alt="..."
                                         class="w-100 position-absolute center" />
                                </div>
                            </div>
                            <div class="col-11 pl-3">
                                <div class="card-body">
                                    <h3 class="card-title text-secondary mb-4">
                                        <i class="fab fa-facebook-square mr-2"></i>
                                        <i class="fab fa-youtube-square mr-2"></i>
                                        <i class="fas fa-home"></i>
                                    </h3>
                                    <p class="card-text text-secondary">
                                        由職能治療師、物理治療師、語言治療師、兒科醫師，共同組成的團隊。由擁有臺大醫院15年臨床經驗的恬兒職能治療師協助號召、聚集多種兒童發展醫學專業，來提供專業的育兒、教養知識。
                                        服務內容包含:專業/親職講座、幼童發展潛能評估、學前發展核心能力培養遊戲課程、教具玩具開發。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="score-content">
                <div class="container">
                    <div class="row">
                        <div class="col-8 p-0 border-bottom mt-5 ">
                            <h4>購課前回答</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8 p-0 my-4">
                            <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
                                <form class="form-inline my-2 my-lg-0 w-75">
                                    <input class="form-control mr-sm-2 w-100 rounded-pill"
                                           type="search"
                                           placeholder="搜尋看看~你的問題可能已經有人問過囉 !" />
                                </form>

                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle"
                                               href="#"
                                               id="navbarDropdown"
                                               role="button"
                                               data-toggle="dropdown"
                                               aria-haspopup="true"
                                               aria-expanded="false">
                                                日期最新
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="#">日期最新</a>
                                                <a class="dropdown-item" href="#">日期最舊</a>
                                                <a class="dropdown-item" href="#">愛心數</a>
                                            </div>
                                        </li>
                                    </ul>
                                    <button class="btn btn-outline-secondary my-2 my-sm-0 rounded-pill" type="submit">我的留言</button>
                                </div>
                            </nav>
                        </div>
                    </div>

                    <div class="row">

                    </div>
                </div>
            </div>*@

        <div class="container">
            <div class="row my-5">
                <div class="col-6 p-0 d-flex flex-column justify-content-center">
                    <h4><a href="" class="hahow-green">前往問題討論區 >></a></h4>
                    <span>
                        課程開課後的課程相關討論，都會在問題討論區進行，來看看已購課同學們的討論吧～
                    </span>
                </div>
                <div class="col-2 p-0">
                    <img src="https://hahow.in/static/media/go-to-learning.4d47f3ed.svg"
                         alt="..." />
                </div>
            </div>
        </div>
    </div>
}
else if (ViewBag.Id == 2)
{
    @Styles.Render("~/Assets/css/score.css")
    <!--課程評價-->
    <!-- content -->
    <div class="container position-relative">

        <div class="row book-mark-box">
            <div class="col-12 my-4 book-mark px-5">
                <div class="text-center">
                    <h6 class="mt-5 text-white">和大家分享完成課程的心得吧！</h6>
                    <!-- Button trigger modal -->
                    @if (Request.IsAuthenticated)
                    {
                        if (ViewBag.YnN)
                        {
                            <button type="button" class="btn btn-outline-hahow w-100 my-4 py-3" data-toggle="modal" data-target="#exampleModal">
                                <div class="text-scale-12">
                                    <i class="far fa-star"></i>
                                    課程評價
                                </div>
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-outline-hahow w-100 my-4 py-3" disabled>
                                <div class="text-scale-12">
                                    <i class="far fa-star"></i>
                                    已評價過
                                </div>
                            </button>
                        }
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Account")" class="btn btn-outline-hahow w-100 my-4 py-3 text-decoration-none">
                            <div class="text-scale-12">
                                <i class="fas fa-user"></i>
                                登入後評價
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>

        <!-- Modal -->
        @*課程評價表單*@
        @using (Html.BeginForm("CreateScore", "Courses", new { CourseId = Model.Main_Video.CourseID }))
        {
            @Html.AntiForgeryToken()
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content modal-tachey-box">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">為這堂課，打個分數吧~</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="text-white">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-black">
                            <h3>分數</h3>
                            @*<span class="star-show choiceStar">
                                    <i class="fas fa-star star-gray position-relative">
                                    </i>
                                    <i class="fas fa-star star-gray position-relative">
                                    </i>
                                    <i class="fas fa-star star-gray position-relative">
                                    </i>
                                    <i class="fas fa-star star-gray position-relative">
                                    </i>
                                    <i class="fas fa-star star-gray position-relative">
                                    </i>
                                </span>*@
                            @Html.RadioButtonFor(m => m.PostCourseScore.Score, "1") 1分
                            @Html.RadioButtonFor(m => m.PostCourseScore.Score, "2") 2分
                            @Html.RadioButtonFor(m => m.PostCourseScore.Score, "3") 3分
                            @Html.RadioButtonFor(m => m.PostCourseScore.Score, "4") 4分
                            @Html.RadioButtonFor(m => m.PostCourseScore.Score, "5") 5分
                            <h3>標題</h3>
                            @Html.TextBoxFor(m => m.PostCourseScore.Title, null, new { @class = "w-100" })
                            <h3>內容</h3>
                            @Html.TextAreaFor(m => m.PostCourseScore.ScoreContent, new { @class = "w-100" })
                            <h3>給老師</h3>
                            @Html.TextAreaFor(m => m.PostCourseScore.ToTeacher, new { @class = "w-100" })
                            <h3>給Tachey</h3>
                            @Html.TextAreaFor(m => m.PostCourseScore.ToTachey, new { @class = "w-100" })
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                            <button type="submit" class="btn btn-primary">送出</button>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row justify-content-between mt-5 score-box-content">
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
                <div class="row d-flex justify-content-center align-items-center">
                    <div>
                        <h4 class="mr-4 text-50">5.0</h4>
                    </div>
                    <div class="score-box text-20 pt-3">
                        <span class="star-show">
                            <i class="fas fa-star star-gray position-relative">
                                <i class="
                      fas
                      fa-star
                      star-yellow
                      position-absolute
                      star-display
                    "></i>
                            </i>
                            <i class="fas fa-star star-gray position-relative">
                                <i class="
                      fas
                      fa-star
                      star-yellow
                      position-absolute
                      star-display
                    "></i>
                            </i>
                            <i class="fas fa-star star-gray position-relative">
                                <i class="
                      fas
                      fa-star
                      star-yellow
                      position-absolute
                      star-display
                    "></i>
                            </i>
                            <i class="fas fa-star star-gray position-relative">
                                <i class="
                      fas
                      fa-star
                      star-yellow
                      position-absolute
                      star-display
                    "></i>
                            </i>
                            <i class="fas fa-star star-gray position-relative">
                                <i class="
                      fas
                      fa-star
                      star-yellow
                      position-absolute
                      star-display
                    "></i>
                            </i>
                        </span>
                        <p class="text-black-50"><span>4</span>則評價</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            @if (Model.GetCourseScore.Count == 0)
            {
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 score-content mb-2">
                    <div class="card border-0 score-content">
                        <div class="row no-gutters">
                            <div class="col-12">
                                <div class="card-body">
                                    <h5 class="card-title text-center">
                                        <span class="star-show star-out">
                                            <i class="fas fa-star star-gray position-relative">
                                            </i>
                                            <i class="fas fa-star star-gray position-relative">
                                            </i>
                                            <i class="fas fa-star star-gray position-relative">
                                            </i>
                                            <i class="fas fa-star star-gray position-relative">
                                            </i>
                                            <i class="fas fa-star star-gray position-relative">
                                            </i>
                                        </span>
                                    </h5>
                                    <h2 class="card-title text-secondary text-center">無任何評價</h2>
                                    <p class="card-text text-white text-justify">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                foreach (var item in Model.GetCourseScore)
                {
                    @Html.Partial("CourseScoreCard", item);
                }
            }

        </div>

    </div>

    @section endJS{
        <script>



        </script>
    }
}
else if (ViewBag.Id == 3)
{

    <!--問題討論-->
    <!-- content -->
    <div class="container discussions">
        <div class="row">
            <div class="col-xl">
                <!-- col-xl-3 col-lg-4 col-md-6 col-sm-12 -->
                <!-- <div class="column-layout-container marg-t-60"> -->
                <!-- fixed box -->
                <div class="layout-right-panel sticky-top">
                    <span style="font-size: 0px;"></span>
                    <div class="white-wrap side-card  pad-b-30 border">
                        <h4 class="heading text-center">參與討論，讓學習更精彩</h4>
                        <div class="pad-rl-25 text-left">
                            <button type="button" class="btn btn-outline-hahow w-100 my-4 py-3 border" data-toggle="modal" data-target="#exampleModal">
                                <div>
                                    <i class="far fa-comment mr-1"></i>
                                    <span>發表留言</span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>

                @*Modal*@
                @using (Html.BeginForm("CreateQuestion", "Courses", new { CourseId = Model.Main_Video.CourseID }))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal fade" id="exampleModal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content modal-tachey-box">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">提出您的疑問吧~</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="text-white">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-black">
                                    <h3>問題</h3>
                                    @Html.TextAreaFor(m => m.PostCourseQuestion.QuestionContent, new { @class = "w-100" })
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                    <button type="submit" class="btn btn-primary">送出</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="main-wrap">
                    <div class="flex marg-b-30">
                        <!-- search bar -->
                        <div class="flex flex-1">
                            <div class="search flex-1 marg-r-5">
                                <span aria-hidden="true" class="fa fa-search fa-fw marg-r-5"></span>
                                <input class="form-control" type="search" placeholder="搜尋看看～你的問題可能已經有人問過囉！" aria-label="Search">
                            </div>
                        </div>


                        <!--<div class="second-row flex">-->
                        <!-- date search -->
                        <!--<div class="date-search sort" height="unset" width="unset">
                            <div class="dropdown btn-group">
                                <button id="filter-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        type="button" class="dropdown-toggle btn btn-default">
                                    <span>日期最新</span>
                                    <span class=""></span>
                                </button>
                                <div role="menu" class="dropdown-menu" aria-labelledby="filter-sort">
                                    <a class="dropdown-item active" href="#">日期最新</a>
                                    <a class="dropdown-item" href="#">日期最舊</a>
                                    <a class="dropdown-item" href="#">愛心數</a>
                                </div>
                            </div>
                        </div>-->
                        <!-- unit search -->
                        <!--<div class="unit marg-rl-15" height="unset" width="unset">
                        <div id="unit-dropdown" class="dropdown btn-group">-->
                        <!-- <button id="filter-unit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                          type="button" class="dropdown-toggle btn btn-default unit-search-bar">
                          <div class="input-wrapper"><span aria-hidden="true"
                              class="fa fa-search fa-fw marg-r-5"></span><input class="pad-tb-0" placeholder="搜尋" value="">
                          </div> <span class=""></span>
                        </button> -->
                        <!--<button id="filter-unit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            type="button" class="dropdown-toggle btn btn-default">
                                        <span>全部單元</span>
                                        <span class=""></span>
                                    </button>
                                    <div role="menu" class="dropdown-menu" aria-labelledby="filter-unit">
                                        <a class="dropdown-item active" href="#">全部單元</a>
                                        <a class="dropdown-item" href="#">第 1 章，第 1 單元</a>
                                        <a class="dropdown-item" href="#">第 1 章，第 2 單元</a>
                                        <a class="dropdown-item" href="#">第 1 章，第 3 單元</a>
                                        <a class="dropdown-item" href="#">第 1 章，第 4 單元</a>
                                        <a class="dropdown-item" href="#">第 1 章，第 5 單元</a>
                                        <a class="dropdown-item" href="#">第 1 章，第 6 單元</a>
                                        <a class="dropdown-item" href="#">第 1 章，作業 1</a>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>

                    <!-- discuss box -->
                    @*課程發問*@
                    <div class="discuss-box">
                        <div class="white-wrap pad-tb-20">

                            @foreach (var item in Model.GetQuestions)
                            {
                                @Html.Partial("_QuestionPartial", item);
                            }

                            @*<div class="media border p-3" id="acc3">
                                <img src="https://i1.achangpro.com/img.inmywordz.com/uploads/20170824164424_47.jpg"
                                     class="mr-3 rounded-circle"
                                     style="width: 55px; height: 55px;" />
                                <div class="media-body">
                                    <h5 class="mt-0">Media heading</h5>
                                    <p>
                                        Standingls are kinda heavy. Heavy is the head that wears the
                                        crown.
                                    </p>
                                    <p>
                                        <span class="">3天前</span><button class="btn">
                                            <i class="far fa-heart text-white"></i>
                                        </button><span class="">0</span><button class="btn"
                                                                                type="button"
                                                                                data-toggle="collapse"
                                                                                data-target="#collapse-three">
                                            <i class="far fa-comment text-white"></i>
                                        </button><span class="">0</span>
                                    </p>

                                    <div id="collapse-three" class="collapse" data-parent="#acc3">
                                        <div class="media mt-3">
                                            <img src="https://i1.achangpro.com/img.inmywordz.com/uploads/20170824164424_47.jpg"
                                                 class="mr-3 rounded-circle"
                                                 style="width: 55px; height: 55px;" />
                                            <div class="media-body">
                                                <h5 class="mt-0">Media heading</h5>
                                                <p>
                                                    Standingls are kinda heavy. Heavy is the head that wears the crown. Standingls are kinda heavy. Heavy is the head that wears the crown.
                                                </p>
                                                <p>
                                                    <span class="">3天前</span><button class="btn">
                                                        <i class="far fa-heart text-white"></i>
                                                    </button><span class="">0</span>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="media mt-3">
                                            <img src="https://i1.achangpro.com/img.inmywordz.com/uploads/20170824164424_47.jpg"
                                                 class="mr-3 rounded-circle"
                                                 style="width: 55px; height: 55px;" />
                                            <div class="media-body">
                                                <h5 class="mt-0">Media heading</h5>
                                                <p class="pr-4">
                                                    <textarea class="w-100">
                                                    </textarea>
                                                </p>
                                                <p class="text-right pr-4">
                                                    <a class=""><i class="fas fa-edit text-white"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                        </div>
                    </div>
                    <!-- </div> -->

                </div>
            </div>
            <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">

            </div> -->
        </div>
    </div>
}
else if (ViewBag.Id == 4)
{
    @Styles.Render("~/Assets/css/assignments.css")
    <!--作業成果-->
    <!-- content -->
    <div class="container assignments">
        <div class="row">
            <div class="col-xl">

                <div class="screen">
                    <!-- search bar -->
                    <div class="select-bar">
                        <h4>作業單元：</h4>
                        <select class="select-option">
                            <option value="">請選擇</option>
                            <option value="">第 1 章，作業 1 題目：本課程無作業設計，不過歡迎大家留下觀看心得於作業區！</option>
                        </select>
                    </div>

                    <!-- works-area -->
                    <div class="creation-list">
                        <h4>所有同學作品</h4>
                        <div class="row">
                            <!-- work-card -->
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="card" style="width: 18rem;">
                                    <div class="creation-cover-image">
                                        <a class="block" href="/creations/60a27fb21d7dad93eaecb335">
                                            <img src="/Assets/img/member/photo.png" class="card-img-top" alt="">
                                        </a>
                                        <div class="hh-like">
                                            <span class="fa fa-heart-o"></span>
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="profile-wrap pad-b-20 block">
                                            <div class="profile-image absolute">
                                                <a class="" href="/">
                                                    <img src="/Assets/img/member/photo.png" class="header-image">
                                                </a>
                                            </div>
                                            <a href="#">
                                                <div class="text-wrap block relative">驅動知識生態系論壇</div>
                                            </a>
                                            <a class="block text-sm" target="_self" href="/">dses5335</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- work-card -->
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="card" style="width: 18rem;">
                                    <div class="creation-cover-image">
                                        <a class="block" href="/creations/60a27fb21d7dad93eaecb335">
                                            <img src="/Assets/img/member/photo.png" class="card-img-top" alt="">
                                        </a>
                                        <div class="hh-like">
                                            <span class="fa fa-heart-o"></span>
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="profile-wrap pad-b-20 block">
                                            <div class="profile-image absolute">
                                                <a class="" href="/">
                                                    <img src="/Assets/img/member/photo.png" class="header-image">
                                                </a>
                                            </div>
                                            <a href="#">
                                                <div class="text-wrap block relative">驅動知識生態系論壇</div>
                                            </a>
                                            <a class="block text-sm" target="_self" href="/">dses5335</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- work-card -->
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="card" style="width: 18rem;">
                                    <div class="creation-cover-image">
                                        <a class="block" href="/creations/60a27fb21d7dad93eaecb335">
                                            <img src="/Assets/img/member/photo.png" class="card-img-top" alt="">
                                        </a>
                                        <div class="hh-like">
                                            <span class="fa fa-heart-o"></span>
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="profile-wrap pad-b-20 block">
                                            <div class="profile-image absolute">
                                                <a class="" href="/">
                                                    <img src="/Assets/img/member/photo.png" class="header-image">
                                                </a>
                                            </div>
                                            <a href="#">
                                                <div class="text-wrap block relative">驅動知識生態系論壇</div>
                                            </a>
                                            <a class="block text-sm" target="_self" href="/">dses5335</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- work-card -->
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="card" style="width: 18rem;">
                                    <div class="creation-cover-image">
                                        <a class="block" href="/creations/60a27fb21d7dad93eaecb335">
                                            <img src="/Assets/img/member/photo.png" class="card-img-top" alt="">
                                        </a>
                                        <div class="hh-like">
                                            <span class="fa fa-heart-o"></span>
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="profile-wrap pad-b-20 block">
                                            <div class="profile-image absolute">
                                                <a class="" href="/">
                                                    <img src="/Assets/img/member/photo.png" class="header-image">
                                                </a>
                                            </div>
                                            <a href="#">
                                                <div class="text-wrap block relative">驅動知識生態系論壇</div>
                                            </a>
                                            <a class="block text-sm" target="_self" href="/">dses5335</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- work-card -->
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="card" style="width: 18rem;">
                                    <div class="creation-cover-image">
                                        <a class="block" href="/creations/60a27fb21d7dad93eaecb335">
                                            <img src="/Assets/img/member/photo.png" class="card-img-top" alt="">
                                        </a>
                                        <div class="hh-like">
                                            <span class="fa fa-heart-o"></span>
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="profile-wrap pad-b-20 block">
                                            <div class="profile-image absolute">
                                                <a class="" href="/">
                                                    <img src="/Assets/img/member/photo.png" class="header-image">
                                                </a>
                                            </div>
                                            <a href="#">
                                                <div class="text-wrap block relative">驅動知識生態系論壇</div>
                                            </a>
                                            <a class="block text-sm" target="_self" href="/">dses5335</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- work-card -->
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="card" style="width: 18rem;">
                                    <div class="creation-cover-image">
                                        <a class="block" href="/creations/60a27fb21d7dad93eaecb335">
                                            <img src="/Assets/img/member/photo.png" class="card-img-top" alt="">
                                        </a>
                                        <div class="hh-like">
                                            <span class="fa fa-heart-o"></span>
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="profile-wrap pad-b-20 block">
                                            <div class="profile-image absolute">
                                                <a class="" href="/">
                                                    <img src="/Assets/img/member/photo.png" class="header-image">
                                                </a>
                                            </div>
                                            <a href="#">
                                                <div class="text-wrap block relative">驅動知識生態系論壇</div>
                                            </a>
                                            <a class="block text-sm" target="_self" href="/">dses5335</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
}


@Scripts.Render("~/Assets/js/point.js")