
@{
    ViewBag.Title = "CourseCard";
}
@Styles.Render("~/Assets/css/card.css")
<h2>CourseCard測試</h2>

<div class="row m-0">
    @Html.Partial("CardTemplate")
    @Html.Partial("CardTemplate")
    @Html.Partial("CardTemplate")
    @Html.Partial("CardTemplate")
</div>